<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" 
		syntaxCheck="false"
		bootstrap="bootstrap.php"
		stopOnFailure="true" >

	<testsuite name="AllTest">
		<file>install/installTest.php</file>
		<file>setup/setupTest.php</file>
		<file>test/unit/front/albumTest.php</file>
		<file>test/unit/front/createGroupTest.php</file>
		<file>test/unit/front/photosTest.php</file>
		<file>test/unit/front/avtarTest.php</file>
		<file>test/unit/front/videosTest.php</file>
		<file>test/unit/front/profileTest.php</file>
		<file>test/unit/front/groupMemberTest.php</file>
		<file>test/unit/front/featureTest.php</file>
		<file>test/sel/admin/profileCompletenessTest.php</file>
	</testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>
</phpunit>


