/*style sheets */

div#application-group img.jspc-avatar-img
{
	padding: 2px; 
	border: solid 1px #ccc;
}

div#application-group div.jspc_completion_text
{
	margin-top:25px;
}

div#application-group div.jspc_bar
{
	height: 10px;
	border-radius: 5px;
}