/*style sheets */

div#application-group img.jspc-avatar-img
{
	padding: 2px; 
	border: solid 1px #ccc;
}

div#application-group div.jspc_completion_text
{
	margin-top:15px;
}
	
div#application-group div.jspc_bar
{
	border-radius: 10px;
}