<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="addonparams">
		<fieldset name="addonparams">
			<field 	name="events_total" 
					type="text" 
					default="" 
					label="COM_JSPC_TOTAL_EVENT_COUNT" 
					description="COM_JSPC_NO_OF_TOTAL_EVENTS_REQUIRE_TO_COMPLETE_FOR_COMPLETING_USER_PROFILE" />
		</fieldset>
	</fields>
</config>
